header {
    background: url('/img/all/bg2.jpg');
    height: 600px;
    color: aliceblue;
}
main {
    background: url('/img/all/bg1.jpg');
    background-size:100% 100% ;
    height: 100%;
    color: aliceblue;
}
.about{
    background: url('/img/all/bg.jpg');
    background-size:100% 100% ;
    height: 100%;
    color: aliceblue;
}
.pggame{
    background: url('/img/all/bg3.jpg');
    background-size:100% 100% ;
    height: 100%;
    color: aliceblue;
}






nav {
    background: url('/img/all/bg1.jpg');
    background-size:cover;
    color: rgb(239, 244, 249);
}









#pgnav {
    color: aliceblue;
}







.sliimg {
    max-width: 1200px;
    margin: auto;
}
.sliimg img {
    width: 100%;
}

.logo {
    width: 65px;
}


.boxt {
    display: flex;
    
}
.timg {
    width: 30%;

}
section {
    width: 100%;
    
}


.xxx {
    margin: 20px;
    width: 100%;
    height: 4px;
    z-index: 9;
    background: url(/img/img/linecut.gif);
    background-size: 100%;
}

.pg {
    max-width: 900px;
    margin: auto;
}
.pg img {
    width: 100%;
}



footer {
   background-color: rgb(137, 137, 137);
}










@media screen and (max-width: 580px) {

    header {
        height: 400px;
    }
    .timg {
        width: 33%;
    
    }





}