
.linecut:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  z-index: 9;
  background: url(/img/img/linecut.gif);
  background-size: 100%;
}
.linecuttop:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  z-index: 9;
  background: url(/img/img/linecut.gif);
  background-size: 100%;
}

